<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .active{
            color: red;
        }
    </style>
</head>
<body>

<!-- 作业需求：点击列表中的哪一项，那么该项的文字变成红色 -->
<div id="app">
    <ul>
        <!--<li v-for="m in movies">{{m}}</li>-->
        <li v-for="(m, index) in movies" :key="index" v-on:click="btnClick(index)" :class="{active:index==isActive}">{{index}}-{{m}}</li>
    </ul>
</div>

<script src="../js/vue.js"></script>
<script>
    //let(变量)/const(常量)
    const app = new Vue({
        el: '#app',//用于挂在要管理的元素
        data: {//定义数据
            movies: ['海王','海尔兄弟','火影忍者','进击的具人'],
            isActive: 0
        },
        methods:{
            btnClick:function(index){
                this.isActive = index
            }
        }
    })
</script>

</body>
</html>